.book-actions {
    z-index: 9999999999;
    top: 80px;
    left: 15px;
    color: #fff;
    width: 40px;
    height: 40px;
}

.web3d-container {
    color: white;
    width: 50px;
    height: 50px;
}

.web3d-container canvas {
    width: 100%;
    height: 100%;
}

.web3d-container:fullscreen {
    width: 100%;
    height: 100%;
}

.web3d-container:fullscreen canvas {
    width: 100%;
    height: 100%;
}
