.detail-thumbnail-container {
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
}

.detail-thumbnail-image-container img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.detail-thumbnail-image-container {
    float: left;
    position: relative;
}

.detail-thumbnail-meta-container {
    float: left;
    margin-left: 10px;
    position: relative;
}
