.detail-thumbnail-container {
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
}

.detail-thumbnail-media-container,
.detail-thumbnail-meta-container {
    float: left;
    position: relative;
}

.detail-thumbnail-media-container {
    margin-left: 20px;
}

.detail-thumbnail-meta-container {
    max-width: 70%;
}
