.preview,
.meta {
    float: left !important;
    position: relative !important;
    margin-left: 20px !important;
}

.meta {
    max-width: 70% !important;
}

.resource-nav-link {
    float: right !important;
    margin-right: 3px !important;
}
