.index-footer {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    text-align: right;
}

.pagination-control {
    padding-right: 20px;
}

.pagination-arrow {
    vertical-align: sub;
    padding-top: 14px;
}

#pagination-back-arrow {
    padding-left: 30px;
}

#pagination-front-arrow {
    padding-right: 20px;
}
