.term-detail-page {
    width: 100%;
}

.detail-card {
    width: 500px;
    min-width: 320px;
    padding: 16px 24px 24px 24px;
    margin: auto !important;
    text-align: center !important;
}

.detail-card #detail-term {
    margin: 0 !important;
    text-align: center !important;
    display: block;
}

.detail-card div {
    display: flex;
    padding: 0 0 4px 0;
}

.detail-headers {
    margin: 0;
    padding: 0 12px 0 0;
}

.detail-meta {
    margin: 14px 0 14px 0;
}

#media-player {
    margin: 0 auto !important;
    display: inline-block !important;
}

#detail-divider {
    margin: 4px 0 4px 0;
}

#detail-term {
    font-size: 28px;
    font-weight: 600;
}

@media only screen and (max-width: 700px) {
    .detail-card {
        width: 90%;
    }
}
